<mat-card>
  <video
    [autoplay]="true"
    [loop]="true"
    [muted]="true"
    [src]="elementVideo"
  ></video>
  <div>
    <mat-card-title>{{ elementName }}</mat-card-title>
    <mat-card-content>
      <p>
        {{ elementDescription }}
      </p>

      <div>
        <a
          mat-flat-button
          color="primary"
          [href]="links.ref"
          target="_blank"
          *ngFor="let links of elementLinks"
          >{{ links.name }}</a
        >
      </div>
    </mat-card-content>
  </div>
</mat-card>
