<mat-toolbar color="primary">
  <div class="container">
    <a routerLink="">
      <h2>< Carlos Jr. /></h2>
    </a>
    <nav>
      <a routerLink="">
        início
        <div></div>
      </a>
      <a routerLink="skills">
        skills
        <div></div>
      </a>
      <a routerLink="projects">
        projetos
        <div></div>
      </a>
      <a routerLink="experiences">
        experiências
        <div></div>
      </a>
      <a routerLink="contact">
        contato
        <div></div>
      </a>
    </nav>
    <button (click)="toggle()" mat-icon-button class="button__menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
