@import "../../../theme.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a > h2 {
    color: $white;
  }

  & > nav {
    display: flex;
    gap: 24px;
  }
  & > nav > a {
    border-bottom: 1px solid transparent;
    color: $white;
    transition: 0.3s ease-in-out;
    font-size: 16px;

    &:hover {
      border-color: $white;
    }
  }
}

.mat-toolbar-single-row {
  padding: 0;
}
.button__menu {
  display: none;
}

@media (width <= 585px) {
  .container > nav {
    display: none;
  }
  .button__menu {
    display: inline-block;
  }
}
