@import "../../../theme.scss";

.container {
  display: flex;
  justify-content: space-between;

  & > nav {
    display: flex;
    gap: 24px;
  }
  & > nav > a {
    border-bottom: 1px solid transparent;
    color: $white;
    transition: 0.3s ease-in-out;
    font-size: 16px;

    &:hover {
      border-color: $white;
    }
  }
}
