@import "../../../theme.scss";

.slider__box {
  padding: 16px 0;
  height: 80vh;
  display: flex;
  overflow: auto;
  gap: 16px;
  position: relative;
  &::-webkit-scrollbar {
    width: 0;
  }
  & > button {
    position: absolute;
    top: 50%;
  }
}
