<section>
  <div class="container">
    <h2>Experiências</h2>
    <ul class="experience__list">
      <li class="experience__item">
        <div class="marker__icon">
          <mat-icon color="white">work</mat-icon>
        </div>
        <mat-card>
          <img
            src="../../../assets/img/logo_kenzie.png"
            alt="image of company"
          />
          <mat-card-content>
            <h2>Kenzie Academy Brasil</h2>
            <h4>Monitor de ensino Back-end</h4>
            <p>jan 23 - Atualmente</p>
            <p>
              Responsável por prestar assistência aos novos alunos dos primeiros
              módulos<br />
              Principais atividades <br />
              - Contato ativo com os alunos; <br />
              - Correção das entregas;<br />
              - Assistência no canal de dúvidas;<br />
              - Relatórios sobre os alunos;<br />
              - Aplicação de testes.<br />
            </p>
          </mat-card-content>
          <div class="point"></div>
        </mat-card>
      </li>
      <li class="experience__item">
        <div class="marker__icon">
          <mat-icon color="white">work</mat-icon>
        </div>
        <mat-card>
          <img
            src="../../../assets/img/logo_kenzie.png"
            alt="image of company"
          />
          <mat-card-content>
            <h2>Kenzie Academy Brasil</h2>
            <h4>Monitor de ensino Front-end</h4>
            <p>jul 22 - jan 23</p>
            <p>
              Responsável por prestar assistência aos novos alunos dos primeiros
              módulos<br />
              Principais atividades <br />
              - Contato ativo com os alunos; <br />
              - Correção das entregas;<br />
              - Assistência no canal de dúvidas;<br />
              - Relatórios sobre os alunos;<br />
              - Aplicação de testes.<br />
            </p>
          </mat-card-content>
          <div class="point"></div>
        </mat-card>
      </li>
    </ul>
  </div>
</section>
