<main>
  <div class="container">
    <div class="box__info">
      <h2>Desenvolvedor Web Full-stack</h2>
      <h1>Carlos Junio</h1>
      <p>
        Olá, meu nome é Carlos, tenho 21 anos e atualmente sou estudante da
        Kenzie Academy Brasil. Estou muito animado, pois minha formação está
        apenas a dois meses de distância e mal posso esperar para colocar em
        prática todos os conhecimentos que adquiri ao longo deste período.
      </p>
    </div>
    <div class="box__image">
      <img src="../../../assets/img/profile.webp" alt="image profile" />
    </div>
  </div>
  <video
    autoplay
    loop
    playsinline
    muted
    src="../../../assets/video/bg-video.mp4"
  ></video>
</main>
