* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  border: none;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}
