@import "~@angular/material/theming";

$app-primary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-pink);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$white: #fff;
$gray1: #f9f9f9;
$gray2: #212529;
